* {
    box-sizing: border-box;
  }
.outer{
    display: flex;
    flex-wrap: wrap;
}
.images{
    flex: 25%;
    padding: 0 4px;
    max-width: 25%;
}
.images img{
    vertical-align: middle;
}
@media (max-width: 800px) {
    .images {
      flex: 50%;
      max-width: 50%;
    }
  }
  @media (max-width: 600px) {
    .images {
      flex: 100%;
      max-width: 100%;
    }
  }